interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"request":{"host":"localhost","message":"","metadata":{},"method":"GET","port":50051,"service":"Hello"}},"locations":["aws:ca-central-1"],"message":"","name":"BDD GRPC test","options":{"httpVersion":"http1","min_failure_duration":0,"min_location_failed":1,"monitor_options":{"renotify_interval":0},"tick_every":60},"subtype":"grpc","tags":[],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body: '{"status":"live","public_id":"78z-uyb-7xj","tags":[],"org_id":321813,"locations":["aws:ca-central-1"],"message":"","deleted_at":null,"name":"BDD
      GRPC test","monitor_id":71651035,"type":"api","created_at":"2022-05-16T13:45:21.113478+00:00","modified_at":"2022-05-16T13:45:21.113478+00:00","subtype":"grpc","config":{"request":{"service":"Hello","port":50051,"host":"localhost","message":"","method":"GET","metadata":{}},"assertions":[{"operator":"is","type":"grpcHealthcheckStatus","target":1}]},"options":{"monitor_options":{"include_tags":true,"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"renotify_interval":0},"httpVersion":"http1","min_location_failed":1,"min_failure_duration":0,"tick_every":60}}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"public_ids":["78z-uyb-7xj"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body: '{"deleted_tests":[{"deleted_at":"2022-05-16T13:45:26.242726+00:00","public_id":"78z-uyb-7xj"}]}'
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
